//Fun section for sdierauf.sexy
.row
    .col-lg-12
        p#fun(style='font-size:3em') Fun
    .col-lg-12
        p I like 
            a(href='http://hey.dierauf.com') funny things 
        p I'm not as much of a gamer as I used to be, but the one thing I can't seem to stop playing is League of Legends. If you're looking for a buddy to play with, please send me an email.
        p I also have a 
            a(href='http://steamcommunity.com/id/lordofswag') Steam 
            | account. 