//header file for sdierauf.sexy
head
    meta(charset='utf-8')
    //meta(name='viewport', content='width=device-width', initial-scale=1.0)
    meta(name='description', content="Stefan Dierauf's personal site")
    meta(name='author' content="Stefan Dierauf")
    title Stefan Dierauf
    link(href='css/cosmo.min.css', rel='stylesheet')
    link(href='css/extended.css', rel='stylesheet')
    link(rel='icon', href='favicon.png')