//Me section of sdierauf.sexy

.row
    .col-lg-12
        p#me(style='font-size:3em') Me
.row
    .col-lg-6
        p Hey there! I'm Stefan
        p
            strong I've accepted an internship offer to work at 
                a(href='http://simplymeasured.com') Simply Measured 
                | for the summer of 2014, and I couldnt be more excited!
        p I'm a sophomore at University of Washington, class of 2016. I'm a Computer Science major, and I'm most interested in mobile and web development.
        p I have fun at hackathons, with my most recent one being 
            a(href='http://angelhack.com/#') AngelHack's 
            a(hrew='http://blog.angelhack.com/day/2013/09/16') AppHack 
            | where my team built an 
            a(href='https://github.com/sdierauf/nametag') android app 
            | that enables users to quickly swap social networks and contact information over bluetooth.
        p I've previously attended: 
        ul
            li
                p
                    a(href='http://www.outforundergrad.org') Out 4 Undergrad's 
                    | hour-long closing hackathon, where my team and I came up with a service called NameTag, an effortless way for eventgoers to connect with others at the event
            li
                p
                    a(href='http://battlehack.org/seattle/') PayPal's Battle Hack Seattle 
                    | where I fell in love with Javascript and related libraries such as 
                    a(href='http://knockoutjs.com/') KnockoutJS 
                    | and 
                    a(href='http://getbootstrap.com/') Bootstrap  
            li
                p The UW engineering community hackathon, where I took third place in the highest coding skill tier.
        p I love learning languages, and I'm partially fluent in Swedish and Spanish.
    .col-lg-6
        //TODO: make images smaller
        img(src='img/fbselfie_s.jpg', title="O4U conference at Facebook HQ. I'm in the middle").img-thumbnail
