.navbar-wrapper
    .navbar.navbar-default.navbar-static-top
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Stefan 
                span.lastname Dierauf
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href='#me') Me
                li
                    a(href='#code') Code
                li
                    a(href='#work') Work
                li
                    a(href='#fun') Fun
            //- ul.nav.navbar-nav.navbar-right
            //-     li
            //-         a(href='http://nodejs.org') Now running on NodeJS! Composed in Jade