//Work section for sdierauf.sexy
.row
    .col-lg-12
        p#work(style='font-size:3em') Work
        //could use a rewrite
    .col-lg-6
        p
            strong I've accepted an internship offer to work at 
                a(href='http://simplymeasured.com') Simply Measured 
                | for the summer of 2014, and I couldnt be more excited!
        p I currently work as technical support staff for the
            a(href='http://www.cs.washington.edu') best department in the world. 
        p I've always been 'that guy' who fixes everyone else's computers, so I sort of naturally fell into working in IT through high school. On arriving at UW, I was deemed cool enough to work in support for the computer science department, and it's one of the best jobs I've ever had.
        p I also help build and maintain the UW CSE website.
    .col-lg-6
        img(src='img/coaster.jpg').img-thumbnail
        //make this more elegant you lazy fuck
        br
        br
    .col-lg-6
        p Sometimes I volunteer to teach high school kids how to code. I work and volunteer for 
            a(href='http://www.cs.washington.edu/outreach/k12/') DawgBytes 
            | , UW CSE's outreach program. We run a number of individual events during the year for middle and high school students, including various programming competitions and open house events. Every summer we have programming summer camps where students can learn how to program in Java and make android apps.
    .col-lg-6
        img(src='img/teaching.jpg').img-thumbnail