doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width', initial-scale=1.0)
		meta(name='description', content="Stefan Dierauf's personal site")
		meta(name='author' content="Stefan Dierauf")
		title File Retriever
		link(href='css/cosmo.min.css', rel='stylesheet')
		link(rel='icon', href='favicon.png')

	body
		.row
			.container
				.col-lg-10.col-lg-offset-1
					h1 File Retriever
					p.text-primary Retrieve hosted files
					include includes/horizontalBar
					input#name
					button.getFile Retrieve





	script(src='js/jquery-1.11.0.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/getFiles.js')