doctype html
html(lang='en')
    
    include includes/head

    body
        include includes/navbar
        .row
            .container
                .col-lg-10.col-lg-offset-1
                
                    include includes/me
                    include includes/horizontalBar

                    include includes/code
                    include includes/horizontalBar

                    include includes/work
                    include includes/horizontalBar

                    include includes/fun
                    include includes/horizontalBar


                    include includes/footer


        script(src='js/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')
