#profile {
  margin-top: 2em;
  margin-bottom: 1em;
}

body {
  font-size: 13pt;
}

.custom-container {
  width:100%;
}

.rowfull, .row {
  padding-top: 3em;
  padding-bottom: 3em;
  margin-right: 0;
  margin-left: 0;
  color: white;
}

a {
  color: aqua;
}

.special-case {
  padding-top: 0em;
}

#meblock {
  background-color: #30a1c3;
}

#codeblock {
  background-color: #f0c73f;
}

#workblock {
  background-color: #F15F13;
}

#funblock {
  background-color: #C3370D;
}

#linksblock {
  background-color: #3D1613;
}

.mahheader {
  margin-bottom: 0;
  font-size: 14pt;
}

.name {
  font-size: 20pt;
  color: #FF6514 !important;
}

.bodypic {

  vertical-align: right;
}