#profile {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

body {
  font-size: 12pt;
  /* -webkit-text-stroke: 0.35px !important; */
}

.custom-container {
  width:100%;
}

.social {
  margin-top: 3em;
  text-align: center;
}

.rowfull, .row {
  padding-top: 3em;
  padding-bottom: 3em;
  margin-right: 0;
  margin-left: 0;
  color: white;
}

a, name {
  color: #ffffff !important;
  text-decoration: underline;
}

a:hover {
  color: #07DEFF !important;
}

dt a {
  color: #ffffff !important;
  text-decoration: underline;
}


.special-case {
  padding-top: 0em;
}

#meblock {
  background-color: #003B80;
}

#codeblock {
  background-color: #005AC1;
}

#workblock {
  background-color: #730C02;
}

#funblock {
  background-color: #A60303;
}

#linksblock {
  background-color: #360101;
}

.mahheader {
  margin-bottom: 0;
  font-size: 14pt;
}

.name {
  font-size: 20pt;
  /*color: #FFF668 !important;*/
}

.bodypic {

  vertical-align: right;
}

dt {
  margin-top: 1em;
}